# this is a comment

verbose = true
luascript = "example.lua"

servers = (
	    { id = "loc"
	      host = "localhost"
	      fmt = "greet"
	      topics = [
	     	"tests/sponge/#"
	     	]
	    },
	    { id = "hive"
	      host = "broker.hivemq.com"
	      port = 1883
	      showid = false
	      showtopic = false
	      topics = [
	     	"test/#"
	     	]
	    },
	    { id = "tmo"
	      host = "test.mosquitto.org"
	      qos = 0
	      showid = true
	      showtopic = true
	      topics = [
	     	"home/special",
		"nothome/dont"
	     	]
	    }
	);
