# this is a comment

verbose = true
luascript = "my.lua.example"

servers = (
	    { id = "888"
	      port = 1883,
	      showid = true
	      showtopic = false
	      fmt = "station"
	      topics = [
	     	"tests/sponge/#",
	     	]
	    },
	    { id = "tmo"
	      host = "test.mosquitto.org",
	      showid = true
	      showtopic = true
	      topics = [
	     	"home/special",
		"nothome/dont",
	     	]
	    },
	);
