function init()
	if msoak.verbose then 
		msoak.log(msoak.luascript .. " starting at " .. msoak.strftime("%FT%TZ"))
	end
end

function station(topic, _type, d)
	
	s = string.format("%s %-20s (%.4f) %s  -> now=%s",
		d.time, d.name, d.lat, d.station,
		msoak.strftime("%TZ"))
	return s
end

function exit()
	msoak.log("Hasta la vista, baby!")
end

